<table style="border-spacing: 20px; border-collapse: separate">
  <tr>
    <td><%= image_tag 'gallery/earmarks.jpg' %></td>
    <td><%= image_tag 'gallery/earmarks.jpg' %></td>
  </tr><tr>
    <td><%= image_tag 'gallery/earmarks.jpg' %></td>
    <td><%= image_tag 'gallery/earmarks.jpg' %></td>
  </tr><tr>
    <td><%= image_tag 'gallery/earmarks.jpg' %></td>
    <td><%= image_tag 'gallery/earmarks.jpg' %></td>
  </tr>
</table>