<table style="border-spacing: 20px; border-collapse: separate">
  <tr>
    <td><%= image_tag 'gallery/bio.png' %></td>
    <td><%= image_tag 'gallery/earmarks.jpg' %></td>
  </tr><tr>
    <td><%= image_tag 'gallery/sponsorships.png' %></td>
    <td><%= image_tag 'gallery/bill.png' %></td>
  </tr><tr>
    <td><%= image_tag 'gallery/contributors.png' %></td>
    <td><%= image_tag 'gallery/contractors.png' %></td>
  </tr>
</table>