<% content_for :body, "home" %>
<% content_for :bubble, true %>
<% content_for :sidebar, 'future' %>

<div id="chooseBubble">
  <h3>Choose from a range of widgets</h3>
  <p id="chooseText">or search for a lawmaker or state above.</p>
</div>

<ul>
  <% widgets.each do |slug, widget| %>
    <li class="widgetHome <%= cycle 'odd', 'even' %> <%= 'last' if slug == widgets.keys.last %>">
      <a href="<%= widget_path :id => slug, :bioguide_id => settings[:featured][:legislator] %>">
        <img src="images/<%= slug %>/icon.jpg" alt="<%= h widget[:name] %>"/>
      </a>
      
      <% if widget[:new] %>
        <span class="new">NEW</span>
      <% end %>
      
      <div class="moduleInsideLeft">
        <h3><a href="<%= widget_path :id => slug, :bioguide_id => settings[:featured][:legislator] %>">
          <%= h widget[:name] %>
        </a></h3>
        <p class="moduleText">
          <%= h widget[:description] %>
        </p>
        <a class="customize" href="<%= widget_path :id => slug, :bioguide_id => settings[:featured][:legislator] %>">Customize</a>
      </div>
    </li>
  <% end %>
  
  <li id="futureBubble" class="<%= widgets.size % 2 == 1 ? 'even' : 'odd' %>">
    <h3>Future Politiwidgets</h3>
    <p>
      Always innovating and creating new tools for a transparent government for reporters, bloggers and other writers about government policy and lawmakers. Future politiwidgets will include dynamic infographics for Top Contributors, Top Contractors, Earmark Stats, Interest Group Ratings and the Batting Average for any lawmaker in Congress.
    </p>
  </li>
</ul>