<% content_for :body, "home" %>
<% content_for :featured, true %>
<% content_for :sidebar, 'future' %>

<div id="ltColumn">
  <ul id="widgetList">
    <% widgets.each do |slug, widget| %>
      <li class="<%= cycle 'odd', 'even' %> <%= 'last' if slug == widgets.keys.last %>">
        <h3><a href="<%= widget_path :id => slug, :bioguide_id => settings[:featured][:legislator] %>">
          <%= h widget[:name] %>
        </a></h3>
        <a href="<%= widget_path :id => slug, :bioguide_id => settings[:featured][:legislator] %>">
          <img src="images/widgets/<%= slug %>/icon_2.jpg" alt="<%= h widget[:name] %>"/>
        </a>
      
        <!--<% if widget[:new] %>
          <span class="new">NEW</span>
        <% end %>-->
        
          <p>
            <%= h widget[:description] %>
          </p>
          <a class="customize" href="<%= widget_path :id => slug, :bioguide_id => settings[:featured][:legislator] %>">Customize</a>
      </li>
    <% end %>
  </ul>
</div>