<body class="bill_<%= params[:size] %>">
  <div id="pageMain">
    <div id="headerWrapper">
      <div id="header">
        <h1 class="right">
          <big class="bill_code"></big><small class="short_title"></small>
        </h1>
        <div id="billResult" class="left">
          <span class="result_upper result_lower@class"></span>
        </div> 
        <div class="clear"></div> 
      </div>  
    </div>
    <div id="mainContent">
      <div id="repInfo">
        <div id="lamaker_metaData" class="right">
          <img alt="Picture of " src="/images/profile/" class="pic@src+ full_name@alt+" width="40px" />
          <h2><small class="title"></small> <big class="full_name"></big></h2>
          <span id="party" class="party party_long@class"></span>
          <span id="stateDistrict" class="state"></span>
        </div>
        <div id="lawmakerVote" class="left">
          <span class="legislator_vote_value legislator_vote_class@class"></span>
        </div>
        <div class="clear"></div>
      </div>
      <div id="voteTotals">
        <h2>Vote Totals</h2>
        <div id="voteKey">
          <span id="republican">Rep</span>
          <span id="democrat">Dem</span>
        </div>
        <div id="chart" class="right">
          <div class="chart_content">Where the chart would be</div>
        </div>
        <div id="chartTotals" class="left">
          <dl>
            <dt class="aye">Aye</dt>
            <dd>
              <ul>
                <li>
                  <span class="repbulicanBlock">Republican</span>
                  <span class="voteTotal rep_ayes"></span>
                </li>
                <li>
                  <span class="democratBlock">Democrat</span>
                  <span class="voteTotal dem_ayes"></span>
                </li>
                <li class="clear"></li>
              </ul>
            </dd>
            <dt class="nay">Nay</dt>
            <dd>
              <ul>
                <li>
                  <span class="repbulicanBlock">Republican</span>
                  <span class="voteTotal rep_nays"></span>
                </li>
                <li>
                  <span class="democratBlock">Democrat</span>
                  <span class="voteTotal dem_nays"></span>
                </li>
              </ul>
            </dd>
          </dl>    
        </div>
        <div class="clear"></div>
      </div>    
    </div>
  </div>
  <script type="text/javascript" charset="utf-8">
    var legislator_url = "http://<%= @backend_hostname %>/api/legislator.json?apikey=<%= @sunlight_api_key %>&bioguide_id=<%= params[:bioguide_id] %>&sections=basic&callback=?"
    $.getJSON(legislator_url, function(data) {
      var legislator = data.legislator;

      var legislator_district = "";
      if (legislator.district == '0') {
        legislator_district = "AL";
      } else {
        legislator_district = legislator.district;
      }
    
      var legislator_state = "";
      if (legislator.title == "Sen") {
        legislator_state = legislator.state;
      } else {
        legislator_state = legislator.state + "-" + legislator_district;
      }
      
      var party_long = "";
      if (legislator.party == 'D') {
        party_long = "democrat";
      } else if (legislator.party == 'R') {
        party_long = "republican";
      } else {
        party_long = "independent";
      }
    
      var legislator_data = {
        "title": legislator.title + ".",
        "full_name": legislator.first_name + " " + legislator.last_name,
        "pic": legislator.bioguide_id + ".jpg",
        "state_downcase": legislator.state.toLowerCase(),
        "state": legislator_state,
        "party": "(" + legislator.party + ")",
        "party_long": party_long
      };

      $('div#repInfo').autoRender(legislator_data);

    });
    
    var bill_url = "http://<%= @backend_hostname %>/api/bill.json?apikey=<%= @sunlight_api_key %>&bill_id=<%= params[:bill_id] %>&sections=basic,votes&callback=?"
    $.getJSON(bill_url, function(data) {
      var bill = data.bill;
      
      var result_upper = "Failed";
      var result_lower = "failed";
      if (bill.enacted) {
        result_upper = "Passed";
        result_lower = "passed";
      }

      var bill_data = {
        "short_title": bill.short_title,
        "bill_code": bill.type.toUpperCase() + " " + bill.number,
        "result_upper": result_upper,
        "result_lower": result_lower,
      };
      $('div#header').autoRender(bill_data);

      var roll_id = "";
      for (var v in bill.votes) {
        var vote = bill.votes[v].vote;
        if (vote && vote.type == "On Passage") {
          roll_id = vote.roll_id;
        }
      }
      
      var roll_url = "http://<%= @backend_hostname %>/api/roll.json?apikey=<%= @sunlight_api_key %>&roll_id=" + roll_id + "&sections=basic,party_vote_breakdown,voter_ids&callback=?"
      $.getJSON(roll_url, function(data) {
        var roll = data.roll;
        
        var roll_data = {
          "ayes": roll.vote_breakdown.ayes,
          "nays": roll.vote_breakdown.nays,
          "present": roll.vote_breakdown.present,
          "not_voting": roll.vote_breakdown.not_voting,
          "dem_ayes": roll.party_vote_breakdown.D.ayes,
          "dem_nays": roll.party_vote_breakdown.D.nays,
          "dem_present": roll.party_vote_breakdown.D.present,
          "dem_not_voting": roll.party_vote_breakdown.D.not_voting,
          "rep_ayes": roll.party_vote_breakdown.R.ayes,
          "rep_nays": roll.party_vote_breakdown.R.nays,
          "rep_present": roll.party_vote_breakdown.R.present,
          "rep_not_voting": roll.party_vote_breakdown.R.not_voting
        };
        
        var vote_obj = _.detect(roll.voter_ids, function(voter_id) { return voter_id.voter_id == '<%= params[:bioguide_id] %>'});
        var legislator_vote = "";
        switch (vote_obj.vote) {
          case '+': legislator_vote = "Aye"; break;
          case '-': legislator_vote = "Nay"; break;
          case 'P': legislator_vote = "Present"; break;
          case '0': legislator_vote = "Not Voting"; break;
        };
        $('div#voteTotals').autoRender(roll_data);

        roll_data.legislator_vote_value = legislator_vote;
        roll_data.legislator_vote_class = legislator_vote.toLowerCase();
        $('div#lawmakerVote').autoRender(roll_data);
        
        
      });
      
    });
    
  </script>
  
</body>