<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" >
    <head>
        <meta name="keywords" content="" />
        <meta name="description" content="" />
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title></title>
        <link rel="stylesheet" href="/stylesheets/widget.css" type="text/css" media="screen" />


    </head>
    <body class="<%= params[:size] || 'med' %>">
        <div id="pageMain">
            <div id="header">
                <h1>
                    <small><%= @legislator.title %>.</small><big><%= @legislator.firstname + " " + @legislator.lastname %></big>
                </h1>
                <img alt="Picture of <%= @legislator.firstname + " " + @legislator.lastname %>" src="http://govpix.appspot.com/<%= @legislator.firstname + " " + @legislator.lastname %>" />
                <div class="californida" id="lawmakerMetadata">
                    <span class="party">(<%= @legislator.party %>)</span>
                    <span class="state"><%= @legislator.state + '-' + @legislator.district %></span>
                </div>
                <div class="clear"></div>
            </div>
            <div id="mainContent">
                <div id="vcard">
                    <div class="tel even">
                        <%= @legislator.phone %>
                    </div>
                    <div class="clear"></div>
                    <div class="adr odd">
                        <div class="street-address"><%= @legislator.congress_office %></div>
                        <!--><span class="locality">Washington</span>
                        <abbr class="region" title="District of Columbia">DC</abbr>
                        <span class="postal-code">22111</span>-->
                    </div>	
                    <div class="url even"><a href="<%= @legislator.website %>">Website</a></div>
                    <div id="buttons">
                        <a class="twitter button" href="http://twitter.com/<%= @legislator.twitter_id %>">Twitter</a>
                        <a class="youtube button" href="http://youtube.com/<%= @legislator.youtube_id %>">YouTube</a>
                        <a class="opencongress button" href="<%= @legislator.congresspedia_url %>">Open Congress</a>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>