<% content_for :head do %>
  <!-- For color picker -->
  <%= stylesheet_link_tag 'farbtastic' %>
  <%= javascript_include_tag 'farbtastic' %>

  <script type="text/javascript">
    var frontend_hostname = "<%= settings[:frontend_hostname] %>";
    var widget_id = "<%= params[:id] %>";
    var bioguide_id = "<%= params[:bioguide_id] %>";
    var sunlight_api_key = "<%= settings[:sunlight_api_key] %>";
    var data_endpoint = "<%= settings[:data_endpoint] %>";
    
    // various globals to help out in keeping state of the widget during customization
    var sizes = {sm: [160, 300], med: [300, 250], lg: [400,300]};
    var widget_size = 'lg';

    // should be filled in with any default values before the document is ready
    var custom = {};

    // fill in this object in the widget-specific form partial to have them included in any 
    // snapshot request to Drumbone
    var snapshot = {};
    
    // this will get filled in when someone clicks the freeze checkbox
    var snapshot_id = null;
    
    
    // color picker
    custom.color = "<%= @widget[:custom][:color] %>";
  
    $(function() {
      $("#primaryColorText").val("#" + custom.color);
      $.farbtastic("#primaryColor", "#primaryColorText").setColor("#" + custom.color);
    
      // color picker
      $("#updateColor").click(function() {
        var picked = $("#primaryColorText").val();
        if (picked && picked.replace)
          custom.color = picked.replace("#", "");
        
        updateFrame();
      });
    });
    
  </script>
  
  <%= javascript_include_tag 'politiwidgets_customize' %>
  
<% end %>

<% content_for :title, h(@widget[:name] + " for " + titled_name_for(@legislator)) %>
<% content_for :sidebar, 'legislator' %>

<div id="ltColumn">
  <div id="pageTop">
    <h2 class="withSearch">
      <%= h @widget[:name] %>
      for
      <span>
        <a href="<%= legislator_path :bioguide_id => @legislator.bioguide_id %>">
          <%= titled_name_for @legislator %>
        </a>
      </span>
    </h2>
    <div class="clear"></div>
  </div>
  <p class="tipText">Pick from the sizes below<%= ", and use the controls to the right to customize your widget" if @widget[:custom] %>.  Copy the embed code at any time to place the widget on your website.</p>
  <div id="leftWidgetColumn">
  
    <div id="widgetStage">
      <div class="widgetSizes">
        <h3>Choose Size</h3>
        <ul id="switcher">
          <li class="switcherbtn"><%= link_to "160 x 300", '#', :id => "sm" %></li>
          <li class="switcherbtn"><%= link_to "300 x 250", '#', :id => "med" %></li>
          <li class="switcherbtn"><%= link_to "400 x 300", '#', :id => "lg", :class => "active" %></li>
        </ul>
        <div class="clear"></div>
      </div>
    
      <div id="widgetConstruct">
        <div style="text-align: center;">
          <iframe frameborder='0'></iframe>
        </div>
      </div>
        
    </div>
  
  </div>

  <div id="rightWidgetColumn">
    <h3 class="withLine">Customize</h3>
      <%= render :partial => "widgets/show/#{params[:id]}" %>
    
      <fieldset class="custom">
        <div id="primaryColor"></div>
        <input type="text" id="primaryColorText" class="rtColumnInput" />
        <button type="button" value="Update Color" class="noImage" id="updateColor">
          <span>Update Color</span>
        </button>  
      </fieldset>
    
    <% unless @widget[:custom] and @widget[:custom][:disable_snapshot] %>
      <ul id="freezeBox"><li>
        <label id="checkBoxType">
          <input class="checkbox" type="checkbox" id="freeze" name="freezeDate"/>Freeze data from updating
        </label>
        <a id="freezeExplainShow" href="#">more</a>
        <div id="freezeExplain">
          Check this box to preserve the information you see right now. If the box is unchecked, the widget will always display the most recent data, including any changes that have occurred since you embedded it.
        </div>
      </li></ul>

      <div id="loadingBox">
        <%= image_tag "site/spinner.gif" %>
        <span>Freezing the data...</span>
      </div>
    
      <div id="errorBox"></div>
  
    <% end %>
    
    <div id="embedCode">
      <span>Embed Code</span>
      <input id="grabCode" name="widgetCode" type="text"/>
    </div>
  
  </div>
</div>
