<h2><%= h(@widget[:name] + " for " + search_name_for(@legislator)) %></h2>

<div id="leftWidgetColumn">

  <div id="widgetDirections">
    <p id="directions">
      Choose a Widget size below and alter content and style with the available dropdowns. Click Generate Widget to get your embed code and add to your site.
    </p>
    
    <!-- Not sure if this is how we're going to do it
      <span id="dataSource">Where the data is from</span>
      <span id="dataWhen">Last pull</span>
    -->
  </div>
  
  <div id="widgetStage">
    <div class="widgetSizes">
      <h3>Choose Size</h3>
      
      <ul id="switcher">
        <li class="switcherbtn"><%= link_to "160 x 300", '#', :id => "sm" %></li>
        <li class="switcherbtn"><%= link_to "300 x 250", '#', :id => "med" %></li>
        <li class="switcherbtn"><%= link_to "400 x 300", '#', :id => "lg" %></li>
      </ul>
      
      <div class="clear"></div>
    </div>
    
    <div id="widgetConstruct">
      <iframe src='http://<%= settings[:frontend_hostname] %>/widgets/<%= params[:id] %>/embed?bioguide_id=<%= params[:bioguide_id] %>&size=lg' width='<%= @width %>' height='<%= @height %>' frameborder='0'></iframe>
    </div>
    
    <script type="text/javascript" charset="utf-8">
    
      $(document).ready(function() {

        var widget_size = 'lg';
        var widget_color = '#1F83B5';
        
        $("li.switcherbtn a").click(function() {

          widget_size = $(this).attr('id');
          var width = 400;
          var height = 300;

          if (widget_size == 'sm') {
            width = 160;
            height = 300;
          } else if (widget_size == 'med') {
            width = 300;
            height = 250;
          } else {
            width = 400;
            height = 300;
          }

          var iframe_url = 'http://' + '<%= settings[:frontend_hostname] %>' + '/widgets/' + '<%= params[:id] %>' + '/embed?bioguide_id=' + '<%= params[:bioguide_id] %>' + '&size=' + widget_size;
          $("#widgetConstruct iframe").attr("src", iframe_url).attr("width", width).attr("height", height);
        });
        
        $("select#primaryColor").change(function() {
          
          console.log(widget_color);
          widget_color = $(this).attr('value');
          
          var iframe_url = 'http://' + '<%= settings[:frontend_hostname] %>' + '/widgets/' + '<%= params[:id] %>' + '/embed?bioguide_id=' + '<%= params[:bioguide_id] %>' + '&size=' + widget_size + '&color=' + widget_color;
          $("#widgetConstruct iframe").attr("src", iframe_url);
        });
      });
      
    </script>
    
  </div>
  
</div>

<div id="rightWidgetColumn">

  <form action="." method="get">
    <fieldset class="custom">
      <legend>Style</legend>
      <ul>
        <li>
          <select id="primaryColor">
            <option value="">Choose a Color</option>
            <option value="red">Red</option>
            <option value="orange">Orange</option>
            <option value="yellow">Yellow</option>
            <option value="green">Green</option>
            <option value="blue">Blue</option>
            <option value="indigo">Indigo</option>
            <option value="violet">Violet</option>
            <option value="black">Black</option>
            <option value="white">White</option>
            <option value="gray">Gray</option>
          </select>
        </li>
      </ul>
    </fieldset>
    
    <!-- This is where a widget-specific form partial will go, if necessary
    <fieldset class="custom"> 
      <legend>Content</legend>
      
    </fieldset>
    -->
    
    <ul>
      <li>
        <label id="checkBoxType">
          <input class="checkbox" type="checkbox" name="freezeDate"/>
          &nbsp;&nbsp;Check box to freeze data from updating
        </label>
      </li>
      <li>
        <button class="generate" type="submit">
          <span>Generate Widget</span>
        </button>
      </li>
    </ul>
  </form>
  
  <div id="embedCode">
    <span>Embed Code</span>
    <input id="grabCode" name="widgetCode" type="text"/>
  </div>
  
</div>