<% content_for :head do %>
  <%= stylesheet_link_tag 'farbtastic' %>
  <%= javascript_include_tag 'farbtastic' %>
  
  <script type="text/javascript">
    var frontend_hostname = "<%= settings[:frontend_hostname] %>";
    var widget_id = "<%= params[:id] %>";
    var bioguide_id = "<%= params[:bioguide_id] %>";
  </script>
  <%= javascript_include_tag 'customize' %>
<% end %>

<h2><%= h(@widget[:name] + " for " + search_name_for(@legislator)) %></h2>

<div id="leftWidgetColumn">

  <div id="widgetDirections">
    <p id="directions">
      Choose a Widget size below and alter content and style with the available dropdowns. Click Generate Widget to get your embed code and add to your site.
    </p>
  </div>
  
  <div id="widgetStage">
    <div class="widgetSizes">
      <h3>Choose Size</h3>
      
      <ul id="switcher">
        <li class="switcherbtn"><%= link_to "160 x 300", '#', :id => "sm" %></li>
        <li class="switcherbtn"><%= link_to "300 x 250", '#', :id => "med" %></li>
        <li class="switcherbtn"><%= link_to "400 x 300", '#', :id => "lg" %></li>
      </ul>
      
      <div class="clear"></div>
    </div>
    
    <div id="widgetConstruct">
      <iframe frameborder='0'></iframe>
    </div>
        
  </div>
  
</div>

<div id="rightWidgetColumn">
    
    <fieldset class="custom">
      <legend>Style</legend>
      <div id="primaryColor"></div>
      <input type="text" id="primaryColorText" /><br/><br/>
      <input type="button" value="Update Color" id="updateColor" />
    </fieldset>
    
    <!-- This is where a widget-specific form partial will go, if necessary
    <fieldset class="custom"> 
      <legend>Content</legend>
      
    </fieldset>
    -->
    
    <ul>
      <li>
        <label id="checkBoxType">
          <input class="checkbox" type="checkbox" name="freezeDate"/>
          &nbsp;&nbsp;Check box to freeze data from updating
        </label>
      </li>
      <li>
        <button id="generate" class="generate" type="submit">
          <span>Generate Widget</span>
        </button>
      </li>
    </ul>
  
  <div id="embedCode">
    <span>Embed Code</span>
    <input id="grabCode" name="widgetCode" type="text"/>
  </div>
  
</div>