<% content_for :head do %>
  <%= javascript_include_tag 'jquery.tablesorter.min' %>
  
  <script type="text/javascript">
    $().ready(function() {  

      $('tr.lawMaker').mouseenter(function() {
        $(this).addClass('hover');
      }).mouseleave(function() {
        $(this).removeClass('hover');
      }).click(function() {
        var url = $(this).find('a').attr('href');
        if (url)
            window.location = url;
      });
      
      $('#mainTable').tablesorter({
        sortList: [[2,0]], 
        cssAsc: "asc", 
        cssDesc: "desc",
        textExtraction: function(node) {
          var contents = _.compact($.trim($(node).text()).split(' '));
          if ($(node).hasClass("lawName")) {
            return _.last(contents) + " " + _.first(contents);
          } else {
            return _.first(contents) + " ";
          }
        },
        headers: {0: {sorter: false}}
      });
      
    });
  </script>
<% end %>

<% content_for :hide_sidebar, true %>
<% content_for :title, (@query.blank? ? "All Members of Congress" : "Search Results for &#8220;#{@query}&#8221;".html_safe) %>

<div id="ltColumn">
  <h2><%= @query.blank? ? "All Members of Congress" : "Search Results for &#8220;#{@query}&#8221;".html_safe %></h2>
  <table id="mainTable">
    <thead>
      <tr id="titles">
        <th id="repPhoto">Photo</th>
        <th>Position</th>
        <th>Name</th>
        <th>Party</th>
        <th>District</th>
      </tr>
    </thead>
  
    <tbody>
      <% @legislators.each do |legislator| %>
        <tr class="lawMaker"> 
          <td>
            <img src="<%= photo_url_for legislator%>" alt="headshot"/>
          </td>
          <td class="lawPosition"><%= title_for legislator %></td>
          <td class="lawName">
            <a href="<%= legislator_path :bioguide_id => legislator.bioguide_id %>"><%= search_name_for legislator %></a>
          </td>
          <td class="lawParty"><%= party_for legislator %></td>
          <td class="lawDistrict"><%= full_district_for legislator %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>