<% content_for :head do %>
<link rel="canonical" href="<%= legislator_url :id => id_for(@legislator) %>/">
<% end %>
<% content_for :title, "Political Widgets for #{titled_name_for @legislator}" %>
<% content_for :hide_sidebar, true %>
<div id="fullColumn">
  <h2><%= full_name_for @legislator %></h2>

  <ul>
    <% @widgets.each do |slug, widget| %>
      <li class="<%= cycle 'odd', 'even' %> <%= 'last' if slug == widgets.keys.last %>">
        <h3 class="floated"><a href="<%= widget_path :id => slug, :legislator => id_for(@legislator) %>"><%= h widget[:name] %></a></h3>
        <a class="customizer" href="<%= widget_path :id => slug, :legislator => id_for(@legislator) %>">Customize</a>
        <div class="clear"></div>
        <div class="widget">
          <a href="<%= widget_path :id => slug, :legislator => id_for(@legislator) %>"></a>
          <script type="text/javascript" src="<%= embed_url_for slug, id_for(@legislator), :size => 'lg', :title => @legislator.title %>"></script>
        </div>
      </li>
    <% end %>
  </ul>
</div>