<div id="aboutBubble">
  <h3>About Politiwidgets</h3>
  <p>
    Welcome to politiwidgets.com, the new home for up-to-date, embeddable political infographics from the Sunlight Foundation. These free political widgets are about lawmakers and government and they're as easy to add to your article or blog as a YouTube video.
  </p>
</div>

<div id="featureShadow">
  <div id="featureBox">
    
    <a href="<%= widget_path :id => settings[:featured][:widget], :bioguide_id => settings[:featured][:legislator] %>"><%= image_tag 'site/img-feature.jpg', :alt => 'featured widget', :id => 'featuredImage' %></a>
    <h2><a href="<%= widget_path :id => settings[:featured][:widget], :bioguide_id => settings[:featured][:legislator] %>">Featured</a></h2>
    
    <p id="featuredText">
      Featured is the <%= h @widget[:name] %> widget, which you can make for any lawmaker in Congress.
    </p>
    <a class="start" href="<%= widget_path :id => settings[:featured][:widget], :bioguide_id => settings[:featured][:legislator] %>">Start Building</a>
  </div>
</div>