<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" >
<head>
  <meta name="keywords" content="" />
  <meta name="description" content="" />
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="description" content="Customize and embed political widgets about all members of Congress." />
  <title><%= yield(:title).present? ? "#{yield :title} | Politiwidgets" : "Politiwidgets" %></title>
  
  <%= stylesheet_link_tag 'main' %>
  
  <%= javascript_include_tag 'jquery-1.4.2.min' %>
  <%= javascript_include_tag 'underscore.min' %>
  <%= javascript_include_tag 'politiwidgets' %>
  
  <!--[if IE 6]>
    <%= stylesheet_link_tag 'buggy' %>
  <![endif]-->
  <!--[if IE 7]>
    <%= stylesheet_link_tag 'buggy7' %>
  <![endif]-->
  
  <script type="text/javascript" src="http://use.typekit.com/dsl8cnv.js"></script>
  <script type="text/javascript">try {Typekit.load();} catch(e) {}</script>
  
  <%= yield :head %>
</head>

<body class="<%= yield(:body).present? ? yield(:body) : "page" %>">
  
  <div id="headerWrapper">
    <div id="headerContainer">
      <div id="header">
          
          <h1>
            <%= link_to 'Politiwidgets', root_path %></a>
          </h1>
          
          <div id="nav">
            <ul>
              <li><%= link_to 'About Us', about_path, :id => 'aboutUs' %></li>
              <li><%= link_to 'Contact', contact_path, :id => 'contact' %></li>
            </ul>
          </div>
          
          <form id="searchForm" action="<%= search_path %>" method="get">
            <input id="searchField" type="text" name="q" value="Search a lawmaker or state"/>
            <button class="searchBtn" type="submit">
              <span>Search</span>
            </button>
          </form>
          
          <% if yield(:featured).present? %>
            <%= render :partial => "layouts/featured" %>
          <% end %>
          
      </div>
    </div>
  </div>
  
  <div id="pageMain">
    <% if yield(:page_header).present? %>
      <%= yield :page_header %>
    <% end %>
    
    <div id="ltColumn">
      <%= yield %>
    </div>
    
    <% unless yield(:hide_sidebar).present? %>
      <div id="rtColumn">
        <%= render :partial => "layouts/sidebar/#{yield(:sidebar).present? ? yield(:sidebar) : 'nav'}" %>
        
        <!--<div class="adspace"></div>-->
      </div>
    <% end %>
    
    <div class="clear"></div>
  </div> <!-- end pageMain -->

  <div id="footerWrapper">
    <div id="footer">
      <h4 id="knight"><a href="http://www.knightfoundation.org/"><big>John S. and James L. Knight Foundation</big><small>Informed, engaged communities</small></a></h4>
      <h4 id="sunlight">Sunlight Foundation</h4>
      <div id="footerBubble">
        <p id="footerText">
          The Sunlight Foundation uses cutting-edge technology and ideas to make government transparent and accountable. Through its projects and grant-making, Sunlight serves as a catalyst to create greater political transparency and to foster more openness and accountability in government. Visit <a href="http://sunlightfoundation.com">SunlightFoundation.com</a> to learn more. This project is funded with generous support from the <a href="http://www.knightfoundation.org">John S. and James L. Knight Foundation</a>.
        </p>
      </div>
    </div>
  </div>
  
  <%= render :partial => "layouts/analytics" %>
  <script src="http://services.sunlightlabs.com/brandingbar/hat_js/tcorps/" type="text/javascript"></script>
  
</body>
</html>